@model List<Category>

<h1> Category List</h1>
<p style="color:green">@TempData["success"]</p>
<div class="text-dark pb-2">
    <a asp-action="Create" asp-controller="Category" class="btn btn-success">Create</a>
</div>
<table class="table table-bordered table-striped text-center">
    <thead>
        <tr class="table-info">

            <th scope="row">Id</thclass>
            <th>Name</th>
            <th>Age</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.Description</td>
                <td>
                    <div class="form-group">
                        <a asp-action="Edit" class="btn btn-info">Edit</a>
                    </div>

                </td>
                <td>
                    <a asp-action="Delete" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        }

    </tbody>

</table>